{% extends 'logged.html' %}
{% block title %}Incomes
{% endblock %}
{% block body %}
	{% if income.errors is not empty %}
		<div class="justify-content-center row col-lg-8p-4 mx-auto shadow rounded-4 text-dark bg-warning">
			<strong>Coś poszło nie tak, sprawdź:</strong>
			<ul>
				{% for error in user.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<h1 class="budgetPanelLabelArea justify-content-center row col-lg-8 my-2 p-2 mx-auto shadow rounded-4 text-dark bg-light">Dodaj przychód</h1>

		<div class="budgetPanelMainField justify-content-center row col-lg-6 col-xl-4 my-2 p-2 mx-auto shadow rounded-4 text-dark bg-light">
			<form action="/items/newIncome" method="POST">
				<div class="row w-75 mx-auto my-2 mt-3">
					<label for="income_value">Wartość przychodu:</label>
					<input type="number" step="0.01" min="0" class="rounded-pill" name="income_value" id="income_value" placeholder="100,00 zł" value="{{ income.income_value }}" required/>
				</div>
				<div class="row w-75 mx-auto my-2">
					<label for="income_date">Data przychodu:</label>
					<input type="date" class="rounded-pill" name="income_date" min="2000-01-01" id="income_date" value="{{ 'now'|date('Y-m-d') }}" required/>
				</div>
				<div class="row w-75 mx-auto my-2">
					<label for="income_cat">Kategoria przychodu:</label>
					<select name="income_cat" id="income_cat" class="rounded-pill" value="{{ income.income_cat }}">
						<option disabled selected>Wybierz kategorię przychodu</option>
						{% if incomeCategories is not empty %}
							{% for category in incomeCategories %}
								<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="row w-75 mx-auto my-2">
					<label for="income_comment">Uwagi:</label>
					<textarea name="income_comment" cols="20" rows="5" class="rounded" id="income_comment" placeholder="Uwagi (opcjonalnie)" value="{{ income.income_comment }}"></textarea>
				</div>
				<div class="row w-75 mx-auto my-2 mb-3">
					<div class="buttons text-center">
						<button type="submit" class="rounded-pill w-50">Dodaj</button>
					</div>
				</div>
			</form>
		</div>
	{% endblock %}
