{% extends 'logged.html' %}
{% block title %}Incomes{% endblock %}
{% block body %}
{% if income.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
  <h1 class="text-center">Dodaj przychód</h1>
  <div class="budget_panel p-2 d-flex justify-content-center">
    <div class="row col-10 col-sm-10 col-md-8 col-lg-6 col-xlg=6 m-0 p-0 border rounded-3 text-dark">
      <form action="/items/newIncome" method="POST">
        <div class="row w-75 mx-auto my-2 mt-3">
          <label for="income_value"></label>
          <input type="number" step="0.01" min="0" class="rounded-pill" name="income_value" id="income_value" placeholder="100,00 zł" value="{{ income.income_value }}" required />
        </div>
        <div class="row w-75 mx-auto my-2">
          <label for="income_date"></label>
          <input type="date" class="rounded-pill" name="income_date" id="income_date" value="{{ 'now'|date('Y-m-d') }}" required />
        </div>
        <div class="row w-75 mx-auto my-2">
          <label for="income_cat"></label>
          <select name="income_cat" id="income_cat" class="rounded-pill" value="{{ income.income_cat }}">
            <option disabled selected>Wybierz kategorię przychodu</option>
            {% for category in incomeCategories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="row w-75 mx-auto my-2">
          <label for="income_comment"></label>
          <textarea name="income_comment" cols="20" rows="5" class="rounded" id="income_comment" placeholder="Uwagi (opcjonalnie)" value="{{ income.income_comment }}"></textarea>
        </div>
        <div class="row w-75 mx-auto my-2 mb-3">
          <div class="buttons text-center">
            <button type="submit" class="rounded-pill w-50">Dodaj</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
